/* div {
    border: black solid 1px;
} */

.container {
    background-color: #ffffff;
    padding: 10px;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 95% !important;
    max-width: none !important;
}
/* calendar */
#calendar {
    height: auto;
}

.selectedDate {
    background-color: #6cb4ee;
    color: #3a78b3;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
}

.scheduleAvailable {
    background-color: #4fffb0;
    color: green;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
}

.scheduleFullyBooked {
    background-color: #f08080;
    color: red;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
}

@media only screen and (max-width: 768px) {
    .scheduleFullyBooked {
        font-size: 14px;
    }
}

.radio {
    margin-bottom: 10px;
}
.fc-col-header-cell-cushion {
    color: black;
}

.fc-daygrid-day-frame fc-scrollgrid-sync-inner {
    height: 10px;
}
.fc-theme-standard td,
.fc-theme-standard th {
    border: none;
}
.fc-daygrid-day-number {
    font-style: normal;
    text-decoration: none; /* Remove underlines */
    color: #000000;
}
.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 1px;
}
.gridcell {
    height: 10px;
}

.fc .fc-daygrid-day-top {
    display: block;
    font-size: 14px;
}

.fc .fc-day-other .fc-event-title-container {
    background-color: white !important;
}
.fc-h-event {
    border: transparent;
    background-color: #4fffb0;
}
.fc-h-event .fc-event-title-container {
    text-align: center;
}

.clicked-event {
    background-color: #6cb4ee;
}

.fc .fc-scrollgrid-liquid {
    border: 0px;
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    min-height: 1em;
}


/*  */

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Styles for desktop */
@media screen and (min-width: 768px) {
    .table-responsive {
        overflow-x: auto;
    }

    .pagination {
        float: right;
    }

    .btn-create-appointment {
        float: right;
        
    }
}

/* Styles for mobile */
@media screen and (max-width: 768px) {
    .table-responsive {
        overflow-x: auto;
        margin: 0 10px;
    }
    .btn {
        margin-bottom: 5px;
    }
    .fs-3 {
        font-size: 1.5rem;
    }
}


.fc .fc-toolbar-title {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .fc .fc-toolbar-title {
        font-size: 15px;
    }
}

.fc .fc-button {
    padding: 1px;
}

@media screen and (max-width: 768px) {
    .fc .fc-button {
        font-size: 13px;
    }
}

@media screen and (max-width: 768px) {
    .fc .fc-toolbar-title {
        font-size: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .fc .fc-col-header-cell-cushion {
        padding: 5px;
        font-size: 10px;
    }
}
@media screen and (max-width: 768px) {
    .card-body h2 {
        font-size: 20px; /* Adjust font size for smaller screens */
    }
}

@media screen and (max-width: 768px) {
    .card-body .form-label {
        font-size: 14px;
        font-weight: bold;
    }
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    /* Change font size for mobile */
    #EarliestAvailableAppointment {
        font-size: 12px;
        font-weight: bold;
    }
}

@media only screen and (max-width: 768px) {
    .form-select {
        font-size: 12px;
    }
}

.custom-button {
    background-color: #4fffb0;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 90%;
    cursor: pointer;
    display: inline-block;
}
