/* div {
    border: black solid 1px;
} */

.container {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 95% !important;
    max-width: none !important;
}
/* calendar */
#calendar {
    height: auto;
}

.selectedDate {
    background-color: #6cb4ee;
    color: #3a78b3;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
}

.scheduleAvailable {
    background-color: #4fffb0;
    color: green;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
}

.scheduleFullyBooked {
    background-color: #f08080;
    color: red;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
}

@media only screen and (max-width: 768px) {
    .scheduleFullyBooked {
        font-size: 14px;
    }
}

.radio {
    margin-bottom: 10px;
}
.fc-col-header-cell-cushion {
    color: black;
}

.fc-daygrid-day-frame fc-scrollgrid-sync-inner {
    height: 10px;
}
.fc-theme-standard td,
.fc-theme-standard th {
    border: none;
}
.fc-daygrid-day-number {
    font-style: normal;
    text-decoration: none; 
    color: #000000;
}
.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 1px;
}
.gridcell {
    height: 10px;
}

.fc .fc-daygrid-day-top {
    display: block;
    font-size: 14px;
}

.fc .fc-day-other .fc-event-title-container {
    background-color: white !important;
}
.fc-h-event {
    border: transparent;
    background-color: #4fffb0;
}
.fc-h-event .fc-event-title-container {
    text-align: center;
}

.clicked-event {
    background-color: #6cb4ee;
}

.fc .fc-scrollgrid-liquid {
    border: 0px;
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    min-height: 1em;
}

.fc .fc-toolbar-title {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .fc .fc-toolbar-title {
        font-size: 15px;
    }
}

.fc .fc-button {
    padding: 1px;
}

@media screen and (max-width: 768px) {
    .fc .fc-button {
        font-size: 13px;
    }
}

@media screen and (max-width: 768px) {
    .fc .fc-toolbar-title {
        font-size: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .fc .fc-col-header-cell-cushion {
        padding: 5px;
        font-size: 10px;
    }
}
@media screen and (max-width: 768px) {
    .card-body h2 {
        font-size: 20px; /* Adjust font size for smaller screens */
    }
}

@media screen and (max-width: 768px) {
    .card-body .form-label {
        font-size: 14px;
        font-weight: bold;
    }
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    /* Change font size for mobile */
    #EarliestAvailableAppointment {
        font-size: 12px;
        font-weight: bold;
    }
}

@media only screen and (max-width: 768px) {
    .form-select {
        font-size: 12px;
    }
}

.custom-button {
    background-color: #4fffb0;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 90%;
    cursor: pointer;
    display: inline-block;
}

/* ////////////////////////////////// */

/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #050301;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000; /* Ensure it's above other content */
}

.sidebar h2, .sidebar h5, .sidebar a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.sidebar.open {
    width: 250px;
}

#content {
    transition: margin-left 0.5s;
}

/* Push content to the right when sidebar opens */
#content.open {
    margin-left: 250px;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu li {
    margin-bottom: 10px;
}

.sidebar-menu li a {
    color: #333;
    text-decoration: none;
}

.sidebar-menu li a:hover {
    background-color: #007bff;
}



#logout-form-sidebar {
    position: absolute;
    bottom: 10px; 
    left: 10px; 
}


.sidebar-menu .btn-link.logout-btn.white-text {
    color: white;
    font-weight: bold;
}


.sidebar-username {
    background-color: #101314; 
    color: white; 
    padding: 10px; 
    margin-bottom: 0; 
    position: relative; 
    top: -60px; 
}

/* In your external CSS file or within <style> tags in your HTML */
#open-sidebar-btn {
    background-color: #101314; 
    border-color: #101314; 
    color: #ffffff; 
}

#open-sidebar-btn:hover {
    background-color: #101314; 
    border-color: #101314; 
    color: #ffffff; 
}

.create-admin-btn {
    margin-left: 189px; 
}

.search-input {
    margin-left: -10px; 

}