/* div {
    border: black solid 1px;
} */

.container {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 95% !important;
    max-width: none !important;
}
/* calendar */
#calendar {
    height: auto;
}

.scheduleAvailable {
    background-color: #4fffb0;
    color: green;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

.scheduleFullyBooked {
    background-color: #f08080;
    color: red;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .scheduleFullyBooked {
        font-size: 14px;
    }
}

.radio {
    margin-bottom: 10px;
}
.fc-col-header-cell-cushion {
    color: black;
}

.fc-daygrid-day-frame fc-scrollgrid-sync-inner {
    height: 10px;
}
.fc-theme-standard td,
.fc-theme-standard th {
    border: none;
}
.fc-daygrid-day-number {
    font-style: normal;
    text-decoration: none; /* Remove underlines */
    color: #696969;
}
.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 1px;
}
.gridcell {
    height: 10px;
}

.fc .fc-daygrid-day-top {
    display: block;
    font-size: 14px;
}

.fc .fc-day-other .fc-event-title-container {
    background-color: white !important;
}
.fc-h-event {
    border: transparent;
    background-color: #4fffb0;
}
.fc-h-event .fc-event-title-container {
    text-align: center;
}

.clicked-event {
    background-color: #6cb4ee;
}

.fc .fc-scrollgrid-liquid {
    border: 0px;
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    min-height: 1em;
}

.fc .fc-toolbar-title {
    font-size: 20px;
}

.fc .fc-button {
    padding: 1px;
}

@media only screen and (max-width: 600px) {
    .fc .fc-col-header-cell-cushion {
        padding: 5px;
        font-size: 10px;
    }
}
@media screen and (max-width: 768px) {
    .card-body h2 {
        font-size: 20px; /* Adjust font size for smaller screens */
    }
}

@media screen and (max-width: 768px) {
    .card-body .form-label {
        font-size: 14px;
        font-weight: bold;
    }
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    /* Change font size for mobile */
    #EarliestAvailableAppointment {
        font-size: 12px;
        font-weight: bold;
    }
}
